{% extends "base.html" %} {% load static %} 
{% block title %} {{playlist.title}}{% endblock title %} 
{% block pageTitle %} {{playlist.title}}{% endblock pageTitle %} 
{% block pageKeyword %} {% for tag in playlist.tags.all %}{{tag.name}},{% endfor %}{% endblock pageKeyword %} 
{% block pageDescription %}{{playlist.contentDesc |safe}} {% endblock pageDescription %} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" !important />
<link rel="stylesheet" href="{% static 'css/login.css' %}" !important />
<link rel="stylesheet" href="{% static 'css/playlist.css' %}" !important />
<link rel="stylesheet" href="{% static 'css/footer.css' %}" !important />
<link rel="stylesheet" href="{% static 'css/prism.css' %}" !important />
{% endblock style %} 
{% block videoActive %}active{% endblock videoActive %} 

{% block content %}
<section class="course-header-container">
  <div class="container-fluid">
    <div class="row">
      <!--Video Holder start-->
      <div class="col-sm-12 col-lg-8 col-xl-8 mt-3 video-holder">
        <div class="">
          <iframe
            width="887"
            height="436"
            src="https://www.youtube.com/embed/{{playlist.video}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <!--Video Holder end-->

      <!--course Holder start-->
      <div class="col-sm-12 col-lg-4 col-xl-4 mb-3 course-holder">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title">
                {{playlist.courseTitle}}<a
                  data-toggle="collapse"
                  href="#course_content"
                >
                  <i class="fas fa-plus hide"></i
                ></a>
              </h6>
            </div>
            <div id="course_content" class="panel-collapse collapse">
              <div class="list-group">
                {% for videos in allPlaylist %}
                <a
                  href="{{videos.slug}}" class="my-2 list-group-item list-group-item-action list-group-item-secondary {% if playlist.slug == videos.slug %}nav-active{% endif %}"
                  aria-current="true"
                >
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{videos.title}}</h5>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-0">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <article class="blog-post">
          <h2 class="blog-post-title">{{playlist.title}}</h2>
          <p class="blog-post-meta text-muted">{{playlist.date_time}}</p>

          <div class="video-content">{{playlist.content |safe}}</div>
        </article>

       
      </div>

      <!-- viodeos comment section start Start-->
      <div class="card col-sm-12 col-md-4 col-lg-4 blog-comments-section">
        <div class="col-md-10 col-lg-8 col-xl-12 mt-3">
          <div class="d-flex flex-start w-100">
            <div class="w-100">
              <h5>Add a comment</h5>
              <form action="/courses/postComment" method="post">
                {% csrf_token %}
                <div class="form-outline">
                  <textarea
                    class="form-control"
                    name="commentText"
                    id="commentText"
                    rows="4"
                    placeholder="What is your view?"
                    required=""
                  ></textarea>
                  <input
                    type="hidden"
                    name="postSno"
                    ,
                    value="{{playlist.sno}}"
                  />
                  <input type="hidden" name="parentSno" , value="" />
                </div>
                <div class="d-flex justify-content-end mt-3">
                  <button id="post_btn" onclick="loginError()" type="submit" class="btn btn-danger">
                    Post Comment
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--Input section end-->
        <!--comment view section start-->
        {% if courseComment %}
        <div class="container my-5 py-5 text-dark">
          <div class="row d-flex">
            <div class="col-md-12 col-lg-10 col-xl-10">
              <div
                class="d-flex justify-content-between align-items-center mb-4"
              >
                <h4 class="text-dark mb-0">Comments</h4>

                <h6 class="text-dark small mb-0 me-1">
                  {{courseComment.count}} Comment
                </h6>
              </div>

              {% for comment in courseComment %}
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start">
                    <div style="color: #ed2c4e">
                      <i class="fas fa-user-tie fa-3x me-2"></i>
                    </div>
                    <div class="w-100">
                      <div class="d-flex align-items-center mb-3">
                        <h6 class="text-primary fw-bold mb-0">
                          {{comment.user.first_name}}
                          <br /><span
                            class="small text-muted"
                            style="font-size: 0.64rem"
                          >
                            {{comment.timestamp|date:'D b d Y'}}</span
                          >
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <p class="mb-1 text-dark">
                      <span>{{comment.commentText}}</span>
                    </p>
                  </div>

                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <p class="small mb-0">
                      <a
                        class="link-dark text-muted"
                        data-toggle="collapse"
                        href="#replyBox-{{comment.sno}}"
                        role="button"
                        aria-expanded="false"
                        aria-controls="replyBox-{{comment.sno}}"
                        onclick="loginError()"
                        >Reply</a
                      >
                      <a
                        id="viewReply_{{comment.sno}}"
                        class="d-none link-dark text-muted"
                        data-toggle="collapse"
                        href="#parentReplyBox-{{comment.sno}}"
                        role="button"
                        aria-expanded="false"
                        aria-controls="parentReplyBox-{{comment.sno}}"
                        >View Reply</a
                      >
                    </p>
                  </div>
                  <script>    
                    for(var i=0;i<1;i++){
                      {% for replyComment in courseCommentReply %}
                        parent  = "{{replyComment.parent}}";
                        if(parent == "{{comment}}"){
                          viewReply_{{comment.sno}}.classList.remove("d-none");
                          console.log("OKK")
                          break
                        }                         
                      {% endfor %}
                    }
                  </script>
                  <div class="collapse" id="replyBox-{{comment.sno}}">
                    <form
                      action="/courses/postComment"
                      method="POST"
                      class="register-form"
                      id="login-form"
                      autocomplete="off"
                    >
                      {% csrf_token %}
                      <small
                        id="replymessage"
                        class="form-text text-danger"
                      ></small>
                      <div class="form-group d-flex">
                        <label for="replyText"
                          ><i class="fas fa-user-tie"></i
                        ></label>
                        <input
                          type="text"
                          name="commentText"
                          id="replyText"
                          placeholder="Add a Reply..."
                          autocomplete="off"
                        />
                        <input
                          type="hidden"
                          name="postSno"
                          ,
                          value="{{playlist.sno}}"
                        />
                        <input
                          type="hidden"
                          name="parentSno"
                          ,
                          value="{{comment.sno}}"
                        />
                        <button type="submit" onclick="loginError()" class="btn btn-light px-1">
                          Reply
                        </button>
                      </div>
                    </form>
                  </div>
                  
                  <div class="collapse" id="parentReplyBox-{{comment.sno}}">
                    {% for replyComment in courseCommentReply %} 
                      {% if replyComment.parent == comment %}

                        <div class="card-body">
                          <div class="d-flex flex-start">
                            <div style="color: #ed2c4e9c">
                              <i class="fas fa-user-tie fa-3x me-2"></i>
                            </div>

                            <div
                              class="w-100 py-2 pl-3"
                              style="background: #dfdfdf; border-radius: 7px"
                            >
                              <div class="d-flex align-items-center mb-3">
                                <h6 class="text-primary fw-bold mb-0">
                                  {{replyComment.user.first_name}}
                                  <br /><span
                                    class="small text-muted"
                                    style="font-size: 0.64rem"
                                    >{{replyComment.timestamp|date:'D b d Y'}}</span
                                  >
                                </h6>
                              </div>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <p class="mb-1 text-dark">
                                  <span>{{replyComment.commentText}}</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>

                      {% endif %} 
                    
                    {% endfor %} 
                  </div>     
               
                </div>
              </div>

              {% endfor %}
            </div>
          </div>
        </div>
        {% else %}
        <div class="align-items-center ml-4 my-4">
          <h4 class="text-dark mb-0">Be the first one to post a comment!</h4>
        </div>
        {% endif %}
      </div>
      <!-- viodeos comment section End -->
    </div>
  </div>
</section>

{% if user.is_authenticated %}
{% else %}
<script src="{% static 'js/loginError.js' %}"></script>
{% endif %}

{% endblock content %} 



{% block jsBlock %}
<script src="{% static 'js/collapse.js' %}"></script>
<script src="{% static 'js/prism.js' %}"></script>
{% endblock jsBlock %}
