{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up | ProgramInHindi{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" !important>
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" !important>
<link rel="stylesheet" href="{% static 'css/login.css' %}" !important>
<link rel="stylesheet" href="{% static 'css/footer.css' %}" !important>
{% endblock %}
{% block singupActive %}active{% endblock %}

{% block content %}
<div class="main-container">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content d-flex">
                <div class="signin-image mx-3">
                    <figure><img src="{% static 'img/home/signin-image.jpg' %}" alt="sing up image"></figure>
                    
                </div>

                <div class="signin-form mx-3">
                    <h2 class="form-title my-3">Sign Up !</h2>
                    <form action="/signup/" method="POST" class="register-form" id="login-form" autocomplete="off">
                        {% csrf_token %}
                      
                        <small id="emailHelp" class="form-text text-danger">{{  username}}</small>
                        
                        <div class="form-group d-flex border-dark">
                            <label for="username"><i class="fas fa-user"></i></label>
                            <input type="text" value="{{usernameVal}}" name="username" id="username" placeholder="Username"autocomplete="off"/><br/>
                            
                        </div>
                      
                        <small id="emailHelp" class="form-text text-danger">{{name}}</small>
                        
                        <div class="form-group d-flex">
                            <label for="your_name"><i class="fas fa-user-tie"></i></label>
                            <input type="text" value="{{nameVal}}" name="your_name" id="your_name" placeholder="Your Name"autocomplete="off"/>
                        </div>
                        <small id="emailHelp" class="form-text text-danger">{{email}}</small>
                        <div class="form-group d-flex">
                            <label for="your_email"><i class="fas fa-envelope"></i></label>
                            <input type="email" value="{{emailVal}}" name="your_email" id="your_email" placeholder="Your Email"autocomplete="off"/>
                        </div>
                        <small id="emailHelp" class="form-text text-danger">{{password}}</small>
                        <div class="form-group d-flex">
                            <label for="your_pass"><i class="fas fa-lock"></i></label>
                            <input type="password" value="{{passwordVal}}" name="your_pass" id="your_pass" placeholder="Password"autocomplete="off"/>
                        </div>
                        <small id="emailHelp" class="form-text text-danger">{{cpassword}}</small>
                        <div class="form-group d-flex">
                            <label for="confirm_your_pass"><i class="fas fa-lock"></i></label>
                            <input type="password" name="confirm_your_pass" id="confirm_your_pass" placeholder="Password"autocomplete="off"/>
                        </div>

                        <div class="form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Create account"/>
                        </div>
                    </form>
                   
                    <a href="/login/" class="signup-image-link float-right mt-3">OR LOGIN</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block jsBlock %}
<script>
    let loginform = document.getElementById('login-form')
    loginform.addEventListener('keyup', ()=> {
        let your_name = document.getElementById('your_name').value.trim()
        let your_email = document.getElementById('your_email').value.trim()
        let your_pass = document.getElementById('your_pass').value.trim()
        let confirm_your_pass = document.getElementById('confirm_your_pass').value.trim()
        let signin = document.getElementById('signin')
        if (your_name=="" || your_email==""|| your_pass==""|| confirm_your_pass=="") {
            console.log("value = none");
            signin.setAttribute("disabled", true);
            signin.style.opacity= '0.5';
        } else {
            console.log("value is something");
            signin.removeAttribute("disabled", false);
            signin.style.opacity= '1';
        }
    });
   
    



</script>
{% endblock jsBlock %}
