

/* *************************   Header css strat    ***************************************** */

 .header{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 100%, 50% 80%, 0% 100%, 0% 0%);
    position: relative;   
    background: #0d7344;
      }

.header::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background: #1ebd82;
    }

.header-section{
    width: 100%;
    height: inherit;
    position: relative;
    color: white;
    text-align: center;
}

.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
   
}

.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    outline: none;
    margin: 0 5px;
    padding: 12px 35px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.header-buttons a:hover{
    color: #50d1c0;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0px 20px 0;
    color: white;
}
 /* *************************   Header css end    ***************************************** */

 /* *************************  extra Header div css start    *************************** */

.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0px;
    text-align: center;

}

.extra-div{
    background: #fff;
    border: medium none;
    padding: 50px;
    border-radius: 3px;
    transition: 01.8s;
}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
    
}
.extra-div .links{
    border: 1px solid #2fccd0;
    border-radius: 100px;
    outline: none;
    margin: 0 5px;
    padding: 12px 35px;
    color: #2fccd0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    transition: 01s;
}
.extra-div .links:hover{
    text-decoration: none;
    border: 2px solid #0ee07e;
}

 /* *************************  extra Header div css end    ***************************** */

 /* *******************************Service offer css start ************************* */

.serviceOffers{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}
.headings{
    margin-bottom: 50px;

}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}

.service-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    height: 0.7rem;
    margin-bottom: 25px;
    background:#606060;
}
/* i{ color: #2fccd0; } */

.icon{color: #ff5e00;}
 /* *******************************Service offer css end ************************* */